@use "./Variables" as v;

$debugBorder: 0px;

@mixin debug-box($color) {
  box-sizing: border-box;
  border: $debugBorder dashed $color;
}

@mixin centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#appContainer {
  display: flex;
  flex: 1;
  background-color: v.$themeWindowBg;
  color: v.$themeTextColor;
  align-items: center;
  justify-content: center;

  .timerContainer {
    // @include debug-box(blue);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    .timer {
      // @include debug-box(green);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      min-width: v.$timerWidth;
      max-width: v.$timerWidth;
      min-height: v.$timerHeight;
      max-height: v.$timerHeight;

      background-color: v.$themeTimerBg;

      margin: v.$timerMargin;
      border-width: 1px;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);

      .topRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        max-height: 25px;
        min-height: 25px;

        .name {
          @include centerContent();
          width: 50%;
        }
        .button {
          @include centerContent();
          width: 50%;
          border-top-right-radius: 5px;
          text-decoration: none;
          border: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }

          &.stop {
            background-color: v.$themeStopBtn;
            color: v.$themeStopTxt;
          }
          &.start {
            background-color: v.$themeStartBtn;
            color: v.$themeStartTxt;
          }
        }
      }
      .time {
        @include centerContent();
        font-size: 30pt;
      }
    }
  }
}
